absl-py==1.1.0
astar==0.93
atomicwrites==1.4.0
attrs==21.4.0
certifi==2022.6.15
chardet==3.0.4
charset-normalizer==2.0.12
cloudpickle==2.1.0
colorama==0.4.4
cycler==0.11.0
deepdiff==5.8.1
docopt==0.6.2
enum34==1.1.10
fonttools==4.33.3
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
gym==0.21.0
idna==2.7
imageio==2.19.3
jsonpickle==1.5.2
kiwisolver==1.4.3
lbforaging==1.1.1
matplotlib==3.5.2
mock==4.0.3
more-itertools==8.13.0
mpyq==0.2.5
munch==2.5.0
networkx==2.8.4
numpy==1.22.4
ordered-set==4.1.0
packaging==21.3
pandas==1.4.2
pbr==4.3.0
Pillow==9.1.1
pluggy==0.7.1
portpicker==1.2.0
probscale==0.2.5
protobuf==3.6.1
py==1.6.0
py-cpuinfo==8.0.0
pyastar2d==1.0.6
pygame==2.1.2
pyglet==1.5.26
pyparsing==2.2.2
PySC2==3.0.0
pytest==4.3.1
python-dateutil==2.8.1
pytz==2022.1
PyYAML==5.3.1
requests==2.19.1
s2clientprotocol==4.10.1.75800.0
s2protocol==5.0.9.87702.0
sacred==0.8.2
scipy==1.8.1
six==1.11.0
sk-video==1.1.10
SMAC @ git+https://github.com/oxwhirl/smac.git@a54ebb937e44dc9c703d96064f423069532c7b66
smmap==5.0.0
snakeviz==2.1.1
tensorboard-logger==0.1.0
torch==1.11.0
torchvision==0.12.0
tornado==5.1.1
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.23
websocket-client==0.53.0
whichcraft==0.5.2
wrapt==1.10.11
